
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}



hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


textarea {
    resize: vertical;
}


.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.hidden {
    display: none !important;
}


.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}



.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}


.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


@media only screen and (min-width: 35em) {
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
}


@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;

        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }


    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }


    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    text-align: center;

     -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas {
    display: block;
    position: absolute;
    height: 90%;
    width: auto;
    margin: auto;
    top:0;
    bottom: 0;
    left:0;
    right:0;
}


@media screen and (max-aspect-ratio: 1/1) {
    canvas {
        width: 90%;
        height: auto;
    }
}

#canvas-0 {
}

#canvas-1 {
  background-image: url('../img/1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, .2);
}

#controls {
    position: absolute;
    box-sizing: padding-box;
    text-align: center;
    font-family: serif;
    background: grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    font-size: 18px;
}

#controls div {
    color: #fff;
}

#controls div.button {
    cursor: pointer;
}

#credit {

}

#bet-decrease {
}

#bet-per-line {

}

#bet-increase {

}

#bet {

}

#autoplay {

}

#start {

}

#playtable {

}

#options {
    top: -519%;
    width: 5%;
    height: 34%;
    left: 1%;
    cursor: pointer;
    box-sizing:border-box;
}

#options.active {

}
/* #faces{
  padding: 140px 0 50px 0;
}
#face1{
  background: red;

} */
